@model List<MaJerGan.Models.Event>

@{
    ViewData["Title"] = "Meet ME!";
    ViewData["ShowHeader"] = "True";
}

<head>
    <link rel="stylesheet" href="~/css/Event/Search.css">
</head>

<script src="~/js/Event/UpcomingEvents.js"></script>
<form id="search-form">

    <input type="hidden" id="sortOrder" name="sortOrder" value="@ViewBag.SortOrder">

</form>
<div class="search-upcoming">
    <input id="search-bar-upcoming" name="searchQuery" type="text" placeholder=" Search Your Interest"
        value="@Context.Request.Query["searchQuery"]" autocomplete="off" />
    <button id="clear-btn2" type="button" onclick="clearSearch()">✖</button>
</div>
<!-- ตัวเลือกการจัดเรียง -->
<div class="sort-options">
    <div id="tag-filters">
        <button type="button" onclick="openTagModal()" class="filter-tag-btn">Filter Tag</button>


    </div>
</div>

<div class="selected-tags" id="selected-tags">
</div>


<!-- ส่วนแสดงผลลัพธ์ -->
<div id="search-results">
    @await Html.PartialAsync("_UpcomingEventsResults", Model)
</div>

<!-- Modal สำหรับเลือกแท็ก -->
<div id="tagModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เลือกแท็ก</h5>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="tag-search" placeholder="ค้นหาแท็ก..." onkeyup="searchTags()">
                <div class="tags-container-search" id="tags-container-search">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <div class="tag-item" data-tag="@tag.Name">
                            <input type="checkbox" id="tag-@tag.Id" name="selectedTags" value="@tag.Id"
                                @(Context.Request.Query["selectedTags"].ToList().Contains(tag.Id.ToString()) ? "checked" :
                                                            "") >
                        <label for="tag-@tag.Id">@tag.Name</label>
                    </div>
                                        }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeTagModal()">ปิด</button>
            </div>
        </div>
    </div>
</div>